/ {
    chosen {
        kfsw,csp-uart = &uart1;
        kfsw,storage-partition = &storage_partition;
    };
};
&uart1 {
    status = "okay";
    current-speed = <57600>;
    parity = "none";
    stop-bits = "1";
    data-bits = <8>;
};
