/ {
	chosen {
		zephyr,code-partition = &kfsw_app_partition;
		kfsw,csp-uart = &usart3;
		kfsw,storage-partition = &kfsw_storage_partition;
	};
};

/* Dedicated CSP/KISS UART. The debug shell remains on LPUART1 PG7/PG8. */
&usart3 {
	label = "usart3";
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		kfsw_app_partition: partition@0 {
			label = "kfsw-app";
			reg = <0x00000000 0x000f0000>;
		};

		kfsw_storage_partition: partition@f0000 {
			label = "kfsw-storage";
			reg = <0x000f0000 0x00010000>;
		};
	};
};
